body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.convBox{
    width: 600px;
    height: 500px;
    /* background-color: yellow; */
    padding: 10px;
}

.modelFace{
    width: 96%;
    height: 80%;
    /* background-color: black; */
    border: none;
    border-radius: 10px;
    padding: 2%;
}

.textBox{
    width: 96%;
    height: 20%;
    /* background-color: black; */
    padding: 2%;
    margin-top: 1%;
    display: flex;
    justify-content: space-between;
}

.textArea{
    width: 79%;
    height: 80px;
    /* background-color: black; */
    border: none;
    border-radius: 20px;
}

.startConvo{
    width: 19%;
    height: 80px;
    /* background-color: black; */
    border: none;
    border-radius: 20px;
    overflow: hidden;
}

.startButton{
    width: 100%;
    height: 100%;
    background-color: red;
    border: none;
    outline: none;
    font-weight: bold;
}