<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Page</title>
    <link rel="stylesheet" href="/static/css/login.css" />
  </head>
  <body>
    <div class="login-page">
      <div class="form">

        <form id="registration-form" class="login-form" method="POST" >
          {% csrf_token %} 
          <input id="name" name="name" type="text" placeholder="Name" required>
          <input id="pass" name="pass" type="password" placeholder="Password" required>
          <button type="submit">login</button>
          <p class="message">
            Not registered? <a href="register">Create an account</a>
          </p>
        </form>
      </div>
    </div>

    <script>
         document.getElementById('registration-form').addEventListener('submit', function(event) {
          event.preventDefault(); // Prevent the default form submission
  
          const formData = new FormData(this);

          fetch('/login', {
              method: 'POST',
              body: formData
          })
          .then(response => {
              if (response.ok) {
                  return response.json();
              }
              throw new Error('Network response was not ok.');
          })
          .then(data => {
              console.log('Registration successful:', data);
              // Optionally, you can redirect the user to another page upon successful registration
              // window.location.href = '/login';
          })
          .catch(error => {
              console.error('Error during registration:', error);
          });
      });
  

</script>
  </body>
</html>
