<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to the Virtual Assitant</title>
    <link rel="stylesheet" href="/static/VCA.css">
    <script src="/static/js/talkSupport.js"></script>
</head>
<body>
    <div class="main">
        <h1>Welcome to your vistual Customer Assistant</h1>
        <div class="convBox">
            <div class="modelFace">

            </div>
            <div class="textBox">
                <div class="textArea" id="result"></div>
                <div class="startConvo">
                    <button class="startButton" onclick="startConvo()" id="recordButton">
                        START
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>